# Using MS Recommender (msr package)
This lab code is an adaptation of the code below:   
https://github.com/recommenders-team/recommenders/blob/main/examples/03_evaluate/evaluation.ipynb

In [ ]:
import numpy as np
import pandas as pd

# MS Recommender 패키지에서 제공하는 추천시스템 평가 함수
from msr.python_evaluation import (
    rmse, 
    mae, 
    map_at_k, 
    ndcg_at_k, 
    precision_at_k, 
    recall_at_k
    )

# Config

In [3]:
COL_USER = "UserId"
COL_ITEM = "MovieId"
COL_RATING = "Rating"
COL_PREDICTION = "Rating"

# Prepare dummy data

In [ ]:
df_true = pd.DataFrame(
        {
            COL_USER: [1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
            COL_ITEM: [1, 2, 3, 1, 4, 5, 6, 7, 2, 5, 6, 8, 9, 10, 11, 12, 13, 14],
            COL_RATING: [5, 4, 3, 5, 5, 3, 3, 1, 5, 5, 5, 4, 4, 3, 3, 3, 2, 1],
        }
    )
df_pred = pd.DataFrame(
    {
        COL_USER: [1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
        COL_ITEM: [3, 10, 12, 10, 3, 5, 11, 13, 4, 10, 7, 13, 1, 3, 5, 2, 11, 14],
        COL_PREDICTION: [14, 13, 12, 14, 13, 12, 11, 10, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]
    }
)

In [6]:
df_true

    UserId  MovieId  Rating
0        1        1       5
1        1        2       4
2        1        3       3
3        2        1       5
4        2        4       5
5        2        5       3
6        2        6       3
7        2        7       1
8        3        2       5
9        3        5       5
10       3        6       5
11       3        8       4
12       3        9       4
13       3       10       3
14       3       11       3
15       3       12       3
16       3       13       2
17       3       14       1

In [7]:
df_pred

    UserId  MovieId  Rating
0        1        3      14
1        1       10      13
2        1       12      12
3        2       10      14
4        2        3      13
5        2        5      12
6        2       11      11
7        2       13      10
8        3        4      14
9        3       10      13
10       3        7      12
11       3       13      11
12       3        1      10
13       3        3       9
14       3        5       8
15       3        2       7
16       3       11       6
17       3       14       5

In [8]:
args = [df_true, df_pred]

# Rating metrics

In [ ]:
kwargs = dict(
    col_user=COL_USER, 
    col_item=COL_ITEM, 
    col_rating=COL_RATING, 
    col_prediction=COL_PREDICTION
    )

eval_rmse = rmse(*args, **kwargs)
eval_mae = mae(*args, **kwargs)

print(
    f"RMSE:\t {eval_rmse:f}",
    f"MAE:\t {eval_mae:f}",
    sep='\n'
    )

RMSE:	 7.254309
MAE:	 6.375000

# Ranking metrics

In [ ]:
top_k = 5
kwargs = dict(
      col_user=COL_USER, 
      col_item=COL_ITEM, 
      col_rating=COL_RATING, 
      col_prediction=COL_PREDICTION, 
      k=top_k
      )

eval_precision = precision_at_k(*args, **kwargs)
eval_recall = recall_at_k(*args, **kwargs)
eval_map = map_at_k(*args, **kwargs)
eval_ndcg = ndcg_at_k(*args, **kwargs)

print(
    f"Precision@{top_k}:\t {eval_precision:f}",
    f"Recall@{top_k}:\t {eval_recall:f}", 
    f"MAP@{top_k}:\t\t {eval_map:f}",
    f"NDCG@{top_k}:\t\t {eval_ndcg:f}",
    sep='\n'
    )

Precision@5:	 0.266667
Recall@5:	 0.244444
MAP@5:		 0.166667
NDCG@5:		 0.332971